@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&display=swap');
:root{
    --color-orange: #FF9900;
    --color-gray: #575757;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 90vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 54px;
}
header h1{
    font-family: 'Galada', cursive;
    font-size: 45px;
    padding-right: 70px;
}
span{
    color: var(--color-orange);
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 210px;
}
nav ul a{
    text-decoration: none;
    color: var(--color-gray);
    font-family: 'Galada', cursive;
    font-size: 31px;
}
nav ul a:hover{
    color: var(--color-orange);
    transition: 0.5s;
}


main{
    display: flex;
    width: 90vw;
    margin: auto;
}
.promotion{
    margin-top: 150px;
    height: 100%;
}
.promotion h1{
    font-family: 'Galada', cursive;
    font-size: 90px;
    animation: burger-top 1.5s;
}
.promotion p{
    font-family: Inter;
    font-size: 25px;
    margin-bottom: 45px;
}
.price p{
    font-family: 'Gelasio', serif;
    font-size: 56px;
    color: var(--color-orange);
}
#second{
    font-size: 36px;
    color: var(--color-gray);
}
.price{
    display: flex;
    gap: 38px;
    align-items: center;
}
button{
    padding: 22px 46px;
    border-radius: 20px;
    font-size: 31px;
    font-family: Inter;
    color: white;
    background-color: #EA0000;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid #EA0000;
    animation: button-left 1.5s;
    box-shadow: rgba(255, 0, 0, 0.541) -1px 17px 23px;
}
button:hover{
    background-color: white;
    color: #EA0000;
    border: 3px solid #EA0000;
    transition: 0.2s;
}
@keyframes button-left {
    from{
        transform: translateX(-350px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes burger-top {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes zoom-burger {
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}

#burger{
    width: 500px;
    animation: loop-infinit-translate 2s infinite alternate;
}
@keyframes loop-infinit-translate {
    from{
        transform: rotateZ(4deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
@media screen and (max-width: 1060px) {
    main{
        margin-top: 50px;
    }
    nav ul{
        gap: 100px;
    }
    .promotion h1{
        font-size: 70px;
    }
    .promotion p{
        font-size: 18px;
    }
    .price p {
        font-size: 50px;
    }
    #second{
        font-size: 30px;
    }
    #burger{
        width: 380px; 
    }
}
@media screen and (max-width:800px) {
    main{
        flex-direction: column-reverse;
    }
    .promotion{
        margin-top: 0;
        height: 500px;
    }
    .promotion h1{
        font-size: 60px;
        text-align: center;
    }
    .promotion p{
        font-size: 16px;
    }
    .price, #botao{
        display: flex;
        justify-content: center;
    }
    .price p {
        font-size: 55px;
    }
    #second{
        font-size: 35px;
    }
    #burger{
        width: 250px; 
        margin: auto;
    }
    nav{
        position: fixed;
        bottom: 0;
        background-color: white;
    }
    nav ul{
        justify-content: center;
    }
    header{
        display: flex;
        justify-content: center;
        margin-top: 13px;
    }
    #logo h1{
        padding: 0;
    }
    button{
        padding: 15px 30px;
        border-radius: 12px;
        font-size: 21px;
    }
}
@media screen and (max-width:690px) {
    main{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    #burger{
        width: 200px;
        margin: auto;
    }
    .promotion h1{
        font-size: 46px;
    }
    button{
        padding: 10px 25.5px;
        border-radius: 12px;
        font-size: 21px;
        box-shadow: rgba(255, 0, 0, 0.541) 0px 2px 10px;
    }
    .promotion{
        margin-top: 20px;
        height: 500px;
    }
    .promotion h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price p{
        font-size: 50px;
    }
    #second{
        font-size: 30px;
    }
    #botao{
        display: flex;
        justify-content: center;
    }
    .promotion p {
        margin-bottom: 30px;
    }
    nav ul li a {
        font-size: 25px;
    }
    nav ul{
        gap: 70px;
    }
}

@media screen and (max-width:400px) {
    #logo h1{
        font-size: 35px;
    }
    #logo img{
        width: 85%;
    }
    #logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    header{
        margin-top: 5px;
    }
    #burger{
        width: 190px;
        margin: auto;
    }
    .promotion h1{
        font-size: 46px;
    }
    button{
        padding: 10px 25.5px;
        border-radius: 12px;
        font-size: 21px;
        box-shadow: rgba(255, 0, 0, 0.541) 0px 2px 10px;
    }
    .promotion{
        margin-top: 30px;
        height: 400px;
    }
    .promotion h1{
        text-align: center;
    }
    .price{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .price p{
        font-size: 45px;
    }
    #botao{
        display: flex;
        justify-content: center;
    }
    .promotion p {
        margin-bottom: 15px;
    }
    nav ul li a {
        font-size: 25px;
    }
    nav ul{
        gap: 65px;
    }
}